<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cs.dp.ucenter.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="org.cs.dp.ucenter.domain.CustomerEntity">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="customer_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="customer_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="customer_end_time" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="out_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="out_pwd" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="customer_address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, customer_id, customer_name, customer_end_time, out_name, out_pwd, customer_address, 
    remark, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getList" parameterType="org.cs.dp.ucenter.domain.CustomerEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer
        where 1=1
        <if test="customer_name != null">
            and customer_name = #{customer_name,jdbcType=VARCHAR}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.cs.dp.ucenter.domain.CustomerEntity">
    insert into customer (id, customer_id, customer_name, 
      customer_end_time, out_name, out_pwd, 
      customer_address, remark, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{customer_id,jdbcType=VARCHAR}, #{customer_name,jdbcType=VARCHAR}, 
      #{customer_end_time,jdbcType=DATE}, #{out_name,jdbcType=VARCHAR}, #{out_pwd,jdbcType=VARCHAR}, 
      #{customer_address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="org.cs.dp.ucenter.domain.CustomerEntity">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customer_id != null">
                customer_id,
            </if>
            <if test="customer_name != null">
                customer_name,
            </if>
            <if test="customer_end_time != null">
                customer_end_time,
            </if>
            <if test="out_name != null">
                out_name,
            </if>
            <if test="out_pwd != null">
                out_pwd,
            </if>
            <if test="customer_address != null">
                customer_address,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="update_time != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="customer_id != null">
                #{customer_id,jdbcType=VARCHAR},
            </if>
            <if test="customer_name != null">
                #{customer_name,jdbcType=VARCHAR},
            </if>
            <if test="customer_end_time != null">
                #{customer_end_time,jdbcType=DATE},
            </if>
            <if test="out_name != null">
                #{out_name,jdbcType=VARCHAR},
            </if>
            <if test="out_pwd != null">
                #{out_pwd,jdbcType=VARCHAR},
            </if>
            <if test="customer_address != null">
                #{customer_address,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.cs.dp.ucenter.domain.CustomerEntity">
        update customer
        <set>
            <if test="customer_id != null">
                customer_id = #{customer_id,jdbcType=VARCHAR},
            </if>
            <if test="customer_name != null">
                customer_name = #{customer_name,jdbcType=VARCHAR},
            </if>
            <if test="customer_end_time != null">
                customer_end_time = #{customer_end_time,jdbcType=DATE},
            </if>
            <if test="out_name != null">
                out_name = #{out_name,jdbcType=VARCHAR},
            </if>
            <if test="out_pwd != null">
                out_pwd = #{out_pwd,jdbcType=VARCHAR},
            </if>
            <if test="customer_address != null">
                customer_address = #{customer_address,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.cs.dp.ucenter.domain.CustomerEntity">
    update customer
    set customer_id = #{customer_id,jdbcType=VARCHAR},
      customer_name = #{customer_name,jdbcType=VARCHAR},
      customer_end_time = #{customer_end_time,jdbcType=DATE},
      out_name = #{out_name,jdbcType=VARCHAR},
      out_pwd = #{out_pwd,jdbcType=VARCHAR},
      customer_address = #{customer_address,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>