<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cs.dp.sonar.mapper.ChannelMapper">
  <resultMap id="BaseResultMap" type="org.cs.dp.sonar.domain.entity.ChannelEntity">
    <constructor>
      <idArg column="channel_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="channel_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="channel_grade" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pre_channel_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="org_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="alias_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    channel_id, channel_name, channel_grade, pre_channel_id, org_id, alias_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from channel
    where channel_id = #{channel_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from channel
    where channel_id = #{channel_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.cs.dp.sonar.domain.entity.ChannelEntity">
    insert into channel (channel_id, channel_name, channel_grade, 
      pre_channel_id, org_id, alias_name
      )
    values (#{channel_id,jdbcType=INTEGER}, #{channel_name,jdbcType=VARCHAR}, #{channel_grade,jdbcType=INTEGER}, 
      #{pre_channel_id,jdbcType=INTEGER}, #{org_id,jdbcType=INTEGER}, #{alias_name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.cs.dp.sonar.domain.entity.ChannelEntity">
    insert into channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channel_id != null">
        channel_id,
      </if>
      <if test="channel_name != null">
        channel_name,
      </if>
      <if test="channel_grade != null">
        channel_grade,
      </if>
      <if test="pre_channel_id != null">
        pre_channel_id,
      </if>
      <if test="org_id != null">
        org_id,
      </if>
      <if test="alias_name != null">
        alias_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channel_id != null">
        #{channel_id,jdbcType=INTEGER},
      </if>
      <if test="channel_name != null">
        #{channel_name,jdbcType=VARCHAR},
      </if>
      <if test="channel_grade != null">
        #{channel_grade,jdbcType=INTEGER},
      </if>
      <if test="pre_channel_id != null">
        #{pre_channel_id,jdbcType=INTEGER},
      </if>
      <if test="org_id != null">
        #{org_id,jdbcType=INTEGER},
      </if>
      <if test="alias_name != null">
        #{alias_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.cs.dp.sonar.domain.entity.ChannelEntity">
    update channel
    <set>
      <if test="channel_name != null">
        channel_name = #{channel_name,jdbcType=VARCHAR},
      </if>
      <if test="channel_grade != null">
        channel_grade = #{channel_grade,jdbcType=INTEGER},
      </if>
      <if test="pre_channel_id != null">
        pre_channel_id = #{pre_channel_id,jdbcType=INTEGER},
      </if>
      <if test="org_id != null">
        org_id = #{org_id,jdbcType=INTEGER},
      </if>
      <if test="alias_name != null">
        alias_name = #{alias_name,jdbcType=VARCHAR},
      </if>
    </set>
    where channel_id = #{channel_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.cs.dp.sonar.domain.entity.ChannelEntity">
    update channel
    set channel_name = #{channel_name,jdbcType=VARCHAR},
      channel_grade = #{channel_grade,jdbcType=INTEGER},
      pre_channel_id = #{pre_channel_id,jdbcType=INTEGER},
      org_id = #{org_id,jdbcType=INTEGER},
      alias_name = #{alias_name,jdbcType=VARCHAR}
    where channel_id = #{channel_id,jdbcType=INTEGER}
  </update>
</mapper>
