<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cs.dp.sonar.mapper.DeviceMapper">
    <resultMap id="BaseResultMap" type="org.cs.dp.sonar.domain.entity.DeviceEntity">
        <constructor>
            <idArg column="device_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="org_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="device_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="device_nickName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="device_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="device_state" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="device_serial_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    device_id, org_id, device_name, device_nickName, device_type, device_state, device_serial_number,
    create_time
  </sql>

    <select id="selectByCondition" parameterType="org.cs.dp.sonar.domain.GetDeviceBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from device
        where 1=1
        <if test="device_id != null">
            and device_id = #{device_id,jdbcType=INTEGER}
        </if>
        <if test="device_name != null">
            and device_name like CONCAT('%',#{device_name},'%')
        </if>
        <if test="device_type != null">
            and device_type = #{device_type,jdbcType=INTEGER}
        </if>
        <if test="device_state != null">
            and device_state = #{device_state,jdbcType=INTEGER}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.util.List">
        delete from device
        where device_id in
        <foreach collection="device_ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insertSelective" parameterType="org.cs.dp.sonar.domain.entity.DeviceEntity">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="device_id != null">
                device_id,
            </if>
            <if test="org_id != null">
                org_id,
            </if>
            <if test="device_name != null">
                device_name,
            </if>
            <if test="device_nickName != null">
                device_nickName,
            </if>
            <if test="device_type != null">
                device_type,
            </if>
            <if test="device_state != null">
                device_state,
            </if>
            <if test="device_serial_number != null">
                device_serial_number,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="device_id != null">
                #{device_id,jdbcType=INTEGER},
            </if>
            <if test="org_id != null">
                #{org_id,jdbcType=INTEGER},
            </if>
            <if test="device_name != null">
                #{device_name,jdbcType=VARCHAR},
            </if>
            <if test="device_nickName != null">
                #{device_nickName,jdbcType=VARCHAR},
            </if>
            <if test="device_type != null">
                #{device_type,jdbcType=VARCHAR},
            </if>
            <if test="device_state != null">
                #{device_state,jdbcType=VARCHAR},
            </if>
            <if test="device_serial_number != null">
                #{device_serial_number,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.cs.dp.sonar.domain.entity.DeviceEntity">
        update device
        <set>
            <if test="org_id != null">
                org_id = #{org_id,jdbcType=INTEGER},
            </if>
            <if test="device_name != null">
                device_name = #{device_name,jdbcType=VARCHAR},
            </if>
            <if test="device_nickName != null">
                device_nickName = #{device_nickName,jdbcType=VARCHAR},
            </if>
            <if test="device_type != null">
                device_type = #{device_type,jdbcType=VARCHAR},
            </if>
            <if test="device_state != null">
                device_state = #{device_state,jdbcType=VARCHAR},
            </if>
            <if test="device_serial_number != null">
                device_serial_number = #{device_serial_number,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where device_id = #{device_id,jdbcType=INTEGER}
    </update>
</mapper>
