<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cs.dp.sonar.mapper.VideoDemandMapper">
    <resultMap id="BaseResultMap" type="org.cs.dp.sonar.domain.entity.VideoDemandEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacher_name"/>
        <result column="course_type" jdbcType="INTEGER" property="course_type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="create_user" jdbcType="INTEGER" property="create_user"/>
        <result column="duration" jdbcType="VARCHAR" property="duration"/>
        <result column="customer_id" jdbcType="INTEGER" property="customer_id"/>
        <result column="m3u8_url" jdbcType="VARCHAR" property="m3u8_url"/>
        <result column="mp4_url" jdbcType="VARCHAR" property="mp4_url"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, teacher_name, course_type, create_time, create_user, duration,customer_id,m3u8_url,mp4_url
  </sql>
    <select id="selectByCon" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from video_demand
        where customer_id = #{customer_id}
        <if test="name != null and name != ''">
            and ( name like concat('%',#{name},'%')
            or teacher_name like concat('%',#{name},'%')
            or type_str = #{name})
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from video_demand
        where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>

    <insert id="insertSelective" parameterType="org.cs.dp.sonar.domain.entity.VideoDemandEntity">
        insert into video_demand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="teacher_name != null">
                teacher_name,
            </if>
            <if test="course_type != null">
                course_type,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="create_user != null">
                create_user,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="customer_id != null">
                customer_id,
            </if>
            <if test="m3u8_url != null">
                m3u8_url,
            </if>
            <if test="mp4_url != null">
                mp4_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="teacher_name != null">
                #{teacher_name,jdbcType=VARCHAR},
            </if>
            <if test="course_type != null">
                #{course_type,jdbcType=INTEGER},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="create_user != null">
                #{create_user,jdbcType=INTEGER},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=VARCHAR},
            </if>
            <if test="customer_id != null">
                #{customer_id,jdbcType=INTEGER},
            </if>
            <if test="m3u8_url != null">
                #{m3u8_url,jdbcType=VARCHAR},
            </if>
            <if test="mp4_url != null">
                #{mp4_url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.cs.dp.sonar.domain.entity.VideoDemandEntity">
        update video_demand
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="teacher_name != null">
                teacher_name = #{teacher_name,jdbcType=VARCHAR},
            </if>
            <if test="course_type != null">
                course_type = #{course_type,jdbcType=INTEGER},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="create_user != null">
                create_user = #{create_user,jdbcType=INTEGER},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=VARCHAR},
            </if>
            <if test="customer_id != null">
                customer_id = #{customer_id,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
